.dnr-chat
    width 100%
    position relative
    height 100%
    overflow hidden
    & .dnr-chat-messages
        width 100%
        overflow-y scroll
        height calc( 100% - 60px )
        padding 0 10px
        & .dnr-chat-message
            width 100%
    & .dnr-chat-input
        width 100%
        height 60px
        overflow hidden