.dnr-social
  width 100%
  height 70%
  position relative
  & .dnr-social-user
    width calc( 30% - 40px)
    height calc( 100% - 40px)
    margin 20px 20px
    background #fff
    float left
  & .dnr-social-scroll
    float left
    height calc( 100% - 40px)
    margin-top 20px
    margin-right 20px
    background #fff
    width calc(70% - 20px)
  &::after
    display block
    content ''
    clear both
    
.dnr-feed
  width 100%
  background #fff
  margin 0 20px
  width calc( 100% - 40px )
  height calc( 30% - 20px )